@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
}

@media print {
  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  main {
    padding: 0 !important;
  }
}
